body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('abi.jpg');
    background-size: cover;
    background-position: center;
}

.login-container, .signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form, .signup-form {
    width: 100%;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.login-form h2, .signup-form h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #cecdcc;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #f6ff00;
}

.text-center a {
    color: #ff8800;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

.text-center p {
    margin: 10px 0;
}
